.NewsRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-grow: 1;
    margin-bottom: 16px;
}

.NewsRow:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.NewsContent {
    display: grid;
    grid-template-columns: 350px auto;
}

.NewsContainer .cmdIcon {
    display: none;

}

.NewsContainer:hover .cmdIcon {
    display: block;
}




.NewsImg {
    flex: 1;
    background-size: cover;
    background-position: center;
    width: 340px;
    height: 200px;

    max-height: 200px;
    border-radius: 8px;
}

.NewsTitle {
    font-size: 20px;
    font-weight: bold;
    color: purple;
}

.NewsDate {
    font-size: 0.9rem;
    color: gray;
}

.NewsCategory {
    color: crimson;
    font-size: 15px;
    font-weight: bold;
}

.NewsCommandPanel {
    display: flex;
    gap: 10px;
    align-items: center;
}

.News {
    width: auto;
}


.NewsdeleteForm {
    margin: 20px;
}

.catCss {
    margin: 10px
}